@page
@model Area42.WebUI.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Toegang geweigerd";
}
<h2>Toegang geweigerd</h2>
<p>Je hebt geen toestemming om deze pagina te bekijken.</p>
<a href="/Index" class="btn btn-primary">Ga terug naar Home</a>